{% extends "base_generic.html" %}

{% block content %}
{% comment %} <h1>Title: {{ book.title }}</h1> {% endcomment %}

<h1>Author: {{ author.last_name }}, {{ author.first_name }} </h1>
<p>
    ({{ author.date_of_birth }} - {{ author.date_of_death}})<br>
    {% if author.country %} Nationality: {{ author.country }} {% endif %}
</p>

<div style="margin-left: 20px; margin-top:20px">
    <h4>Books</h4>

    {% for book in author.book_set.all %}
    <div>
        <h5><a href='{% url 'book-detail' book.id %}'>{{ book.title }}</a> <span>( {{ book.bookinstance_set.count }})</span></h5>
        <p>{{ book.summary }}</p>
    </div>
    {% empty %}
    <p>No book found by this author</p>
    {% endfor %}
    
</div>
{% endblock %}


{% block sidebar %}

{{ block.super }}

{% if perms.catalog.change_author or perms.catalog.delete_author %}
    <hr>
    <ul class="sidebar-nav">
        {% if perms.catalog.change_author %}
        <li><a href="{% url 'author-update' author.id %}">Update author</a></li>
        {% endif %}
        {% if perms.catalog.delete_author %}
        <li><a href="{% url 'author-delete' author.id %}">Delete author</a></li>
        {% endif %}
    </ul>
{% endif %}

{% endblock sidebar %}

